[user]
	email = adjeibohyen@hotmail.co.uk
	name = nanacnote
[init]
	defaultBranch = main
[color]
	ui = auto
[alias]
	aliases = !git config --get-regexp alias | sed -re 's/alias\\.(\\S*)\\s(.*)$/\\1 = \\2/g'
	a = add
	aa = add .
	c = commit
	cm = commit -m
	can = commit --amend --no-edit
	ca = commit --amend
	cam = commit --amend -m
	co = checkout
	st = status
	lg = log --oneline
	lgg = log --oneline --graph --decorate --all
	lgd = log --pretty=format:'%C(auto)%h %d %s %C(dim white)<%cr by %an>%Creset' --abbrev-commit --date=relative

	rrebase = rebase -i --root
	rreset = reset --soft HEAD~
	ggrep = grep -n --heading
	ffetch = fetch --all --prune --tag
[core]
	editor = vim
	pager = bat
[push]
	default = simple
	autoSetupRemote = true
[merge]
    conflictstyle = diff3
