[user]
	email = no@hiramlabs.com
	name = Nana Owusu
[init]
	defaultBranch = main
[color]
	ui = auto
[alias]
	aliases = !git config --get-regexp alias | sed -re 's/alias\\.(\\S*)\\s(.*)$/\\1 = \\2/g'
	a = add
	aa = add .
	c = commit
	cm = commit -m
	can = commit --amend --no-edit
	ca = commit --amend
	cam = commit --amend -m
	co = checkout
	st = status
	lg = log --oneline
	lgg = log --oneline --graph --decorate --all
	lgd = log --pretty=format:'%C(auto)%h %d %s %C(dim white)<%cr by %an>%Creset' --abbrev-commit --date=relative
	rir = rebase -i --root
	reset = reset --soft HEAD~
[core]
	editor = vim
	pager = bat
